/* CSS for Homepage */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ff6b81;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.menu {
    margin: 20px 0;
    text-align: center;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.login-options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.login-box a:hover {
    background-color: #555;
}

/* Utility Classes */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #ff6b81;
    text-decoration: none;
}

a:hover {
    color: #ff4757;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
